.tu-section-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
}

.tu-section-title h2 {
    font-weight: 800;
    font-size: 2rem;
}

.tu-section-title hr {
    width: 60px;
    height: 10px;
    margin: 20px 0px 20px 0px;
    background-color: var(--yellow);
    outline: none;
    border: none;
}
