.tu-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px 10px 20px;
    background-color: var(--dark-blue);
    color: white;
    min-height: 50px;
}

.tu-nav__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 80%;
    margin: 0 auto;
}

.tu-nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tu-nav__left.tu-selected + .tu-nav__links {
    display: flex;
}

.tu-nav__logo {
    margin-right: 10px;
}

.tu-nav__links {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 50%;
}

.tu-nav__links a {
    margin: 10px 0px 0px 0px;
}

.tu-nav__burger {
    display: inline-block;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

.tu-nav__burger-bar1,
.tu-nav__burger-bar2,
.tu-nav__burger-bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.tu-nav__burger-bar1.tu-selected {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.tu-nav__burger-bar2.tu-selected {
    opacity: 0;
}

.tu-nav__burger-bar3.tu-selected {
    transform: rotate(45deg) translate(-8px, -8px);
}

.tu-nav a {
    text-decoration: none;
    color: white;
}

/* unvisited link */
.tu-nav a:link {
    color: white;
}

/* visited link */
.tu-nav a:visited {
    color: white;
}

/* mouse over link */
.tu-nav a:hover {
    color: var(--yellow);
}

/* selected link */
.tu-nav a.active {
    color: var(--yellow);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .tu-nav__container {
        flex-direction: row;
    }

    .tu-nav__burger {
        display: none;
    }

    .tu-nav__links {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }

    .tu-nav__links a {
        margin: 0px 15px 0px 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .tu-nav {
        justify-content: center;
    }

    .tu-nav__container {
        width: 50%;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .tu-nav {
        justify-content: center;
    }
}
