* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --green: #A1BE38;
    --dark-green: #6B8C39;
    --yellow: #FCD203;
    --dark-yellow: #E3BD03;
    --blue: #81B8C2;
    --mid-blue: #2E7884;
    --dark-blue: #2C2E50;
    --brown: #984320;
    --washed-brown: #836C59;
    --dark-brown: #38210E;
    --dark-font: #7c6f64;
    --light-font: #ebdbb2;
}

html {
    font-size: 18px;
    color: var(--dark-blue);
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Color
 *********/
.tu-color--green {
    color: var(--green);
}

.tu-color--dark-green {
    color: var(--dark-green);
}

.tu-color--yellow {
    color: var(--yellow);
}

.tu-color--dark-yellow {
    color: var(--dark-yellow);
}

.tu-color--blue {
    color: var(--blue);
}

.tu-color--dark-blue {
    color: var(--dark-blue);
}

.tu-color--brown {
    color: var(--brown);
}

.tu-color--dark-brown {
    color: var(--dark-brown);
}

/* Spacing
 ***********/
.tu-mt {
    margin-top: 5px;
    display:block;
}

.tu-mb {
    margin-bottom: 5px;
    display:block;
}

.tu-ml {
    margin-left: 5px;
    display:block;
}

.tu-mr {
    margin-right: 5px;
    display:block;
}

/* Font sizes 
 **************/
.tu-f-xs {
    font-size: 10px;
}

.tu-f-sm {
    font-size: 12px;
}

.tu-f-md {
    font-size: 16px;
}

.tu-f-lg {
    font-size: 20px;
}

.tu-f-xl {
    font-size: 24px;
}
