.tu-header {
    min-height: 100vh;
    padding: 50px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    scroll-snap-align: start;
}

.tu-header__image {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    max-width: 400px;    
}

.tu-header__image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.tu-header__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    max-width: 400px;
}

.tu-header__intro h2 {
    font-weight: 800;
    line-height: 0;
    margin-top: 20px;
}

.tu-header__intro h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 10px;
}

.tu-header__form {
    margin-top: 30px;

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .tu-header {
        flex-wrap: nowrap;
        padding: 80px 0px 80px 0px;
    }

    .tu-header__image {
        align-items: center;
    }

    .tu-header__intro {
        justify-content: center;
    }

    .tu-header__intro h2 {
        margin-top: 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .tu-header {
        flex-wrap: nowrap;
        padding: 180px 0px 180px 0px;
    }
}
