.tu-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    margin: 10px;
}

.tu-header__image {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    max-width: 400px;    
}

.tu-header__image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.tu-header__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    max-width: 400px;
}

.tu-header__intro h2 {
    font-weight: 800;
    line-height: 0;
    margin-top: 20px;
}

.tu-header__intro h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 10px;
}

.tu-header__form {
    margin-top: 30px;

}

.tu-header__form label {
    font-weight: bold;
}

.tu-header__form input {
    width: 100%;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    padding: 12px 20px;
    margin: 8px 0;
}

.tu-header__form input:focus {
    border: 2px solid var(--green);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .tu-header {
        flex-wrap: nowrap;
    }

    .tu-header__image {
        align-items: center;
    }

    .tu-header__intro {
        justify-content: center;
    }

    .tu-header__intro h2 {
        margin-top: 0px;
    }
}
