.tu-footer {
    background-color: var(--dark-blue);
    padding: 80px 10px;
}

.tu-footer__content {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.tu-footer__content img {
    margin-right: 10px;
}

.tu-footer__content a {
    font-style: italic;
}

.tu-footer__copyright {
    margin-top: 20px;
    color: var(--light-font);
    font-size: 12px;
}
