.tu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    scroll-snap-align: start;
    background-color: var(--dark-blue);
    padding: 80px 20px;
}

.tu-footer__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

.tu-footer__content {
    padding-top: 20px;
}

.tu-footer__content img {
    margin-right: 10px;
}

.tu-footer__content a {
    font-style: italic;
    font-weight: bold;
}

.tu-footer__copyright {
    margin-top: 20px;
    color: var(--light-font);
    font-size: 12px;
    margin-top: 40px;
}

@media (min-width: 576px) {
    .tu-footer__container {
        max-width: 80%;
    }
}
